@font-face {
  font-family: BarlowSemiCondensed-Light;
  src: url('../fonts/BarlowSemiCondensed-Light.ttf');
}
@font-face {
  font-family: BarlowSemiCondensed-SemiBold;
  src: url('../fonts/BarlowSemiCondensed-SemiBold.ttf');
}