<div class="promo-item">
  <div class="promo-item-image">
    {{ fields.field_promo_item_image.content }}
  </div>
  <div class="promo-item-title">
    <h3>{{ fields.field_promo_item_title.content }}</h3>
  </div>
</div>
