{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div class="promo-item">
      <div class="promo-item-image">
        {{ content.field_promo_item_image }}
      </div>
      <div class="promo-item-title">
        <h3>{{ content.field_promo_item_title }}</h3>
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
