<div class="owl-item" style="width: 390px;">
  <div class="testimonials-slider-item">
    <div class="testimonial-title">
      <h3>{{ fields.title.content }}</h3>
    </div>
    <div class="testimonial-content">
      {{ fields.field_testimonial_c.content }}
    </div>
    <div class="testimonial-name">
      {{ fields.field_testimonial_name.content }}
    </div>
  </div>
</div>

