<div class="our-services-promo-section">
  <div class="our-services-promo-wrapper">
    <div class="our-services-promo-container">
      <div class="our-services-promo-grid">
        {% for row in rows %}
          {{ row }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
