<div class="our-services-promo-grid-item">
  <div class="our-services-promo-grid-item-wrapper">
    <div class="promo-grid-image">
      {{ fields.field_services_image.content }}
    </div>
    <div class="promo-grid-title">
      <h2>{{ fields.field_services_title.content }}</h2>
    </div>
    <div class="promo-grid-description">
      {{ fields.field_services_descriotion.content }}
    </div>
    <div class="promo-grid-link">
      <a class="button button-yellow button-small">Read More</a>
    </div>
  </div>
</div>
