<div class="blogs-listing-section">
  <div class="blogs-listing-container">
    <div class="blogs-listing-wrapper">
      <div class="blogs-listing-grid">
        {% for row in rows %}
          <div class="blogs-listing-grid-item">
            {{ row }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
