{% if links|length > 0 %}
  <ul class="mobile-navigation-links">
    {% for link in links %}
      {% if link.subMenu|length > 0 %}
        <li class="mobile-navigation-item parent">
      {% else %}
        <li class="mobile-navigation-item">
      {% endif %}
        {{ link.link }}
        {% if link.subMenu|length > 0 %}
          <ul class="mobile-navigation-sub-menu">
            <li class="sub-menu-parent">
              <a class="back-link" href="javascript:void(0)">BACK</a>
            </li>
            {% for subMenuLink in link.subMenu %}
              <li class="sub-menu-item">{{ subMenuLink.link }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}