<div class="services-items-section">
  <div class="services-items-wrapper">
    <div class="services-items-grid">
      {% for row in rows %}
        {{ row }}
      {% endfor %}
    </div>
  </div>
</div>
