<div class="testimonials-listing-item-wrapper">
  <div class="testimonials-listing-item">
    <div class="testimonial-content">
      {{ fields.field_testimonial_c.content }}
    </div>
    <div class="testimonial-by-name">
      {{ fields.field_testimonial_name.content }}
    </div>
  </div>
</div>
